.material-icons.md-18 {
  font-size: 18px;
  height: 18px;
  width: 18px;
  position: relative;
  left: 50%;
  cursor: pointer;
}
mat-slide-toggle {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
