<div class="content-header">Users</div>
<mat-slide-toggle checked="display" (change)="updateSettings($event)">Show users weight ang height</mat-slide-toggle>
<mat-divider></mat-divider>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="full_name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.full_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="material-icons md-18" (click)="deleteUser(element.id)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let index = i"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
