$light-grey: rgb(245,245,245);
$light-light-grey: #fafafa;
$hint: rgba(0,0,0,.54);
.content-header {
  .delete {
    float: right;
    top: 5px;
  }
  .input-width {
    min-width: 100px;
    max-width: 75%;
  }
}
.sub-content-header {
  .add {
    float: right;
    top: -9px;
  }
  .hint {
    color: $hint;
    font-size: 13px;
    float: right;
  }
}
button {
  mat-chip {
    &:focus {
      outline: none;
    }
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 2px;
    padding: 2px 6px;
    border-radius: 50%;
    position: relative;
    bottom: 1px;
  }
}
.mat-input-element:disabled {
  color: inherit;
}
.material-icons.md-18 {
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-left: -5px;
  margin-top: -2px;
  margin-right: 2px;
}
.material-icons.md-16 {
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin-left: 5px;
  position: relative;
  top: 2px;
  cursor: pointer;
  &.clear {
    top: -1px;
    margin-left: 20px;
  }
}
.park-info {
  padding: 15px;
  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }
  .input-width {
    width: 35px;
  }
  .input-full-width {
    width: 100%;
  }
}
agm-map {
  height: 300px;
}
.report-wrapper {
  font-size: 15px;
  height: 30px;
  .list-item {
    padding-right: 10px;
  }
}
mat-grid-tile {
  .material-icons.md-18 {
    display: none;
    cursor: pointer;
  }
  &:hover .material-icons.md-18 {
    display: block;
    font-size: 18px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 11%;
    right: 10px;
  }
}
.equipment-wrapper {
  .mat-card-title {
    margin: 0;
    text-align: center;
  }
  .mat-card-header-text {
    margin: 0 auto;
    margin-top: 5px;
  }
  .mat-card {
    box-sizing: content-box;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    &.example-card {
      width: 100%;
    }
  }
}
