<div *ngIf="park">
  <div class="content-header name">
    <div *ngIf="edit">
      {{park.name}}
    </div>
    <mat-form-field *ngIf="!edit" class="input-width" [style.width.px]="park.name.length * 20">
      <input matInput [(disabled)]="edit" [(ngModel)]="park.name" placeholder="Name">
    </mat-form-field>
    <!--<div *ngIf="edit.name" matTooltip="Edit" matTooltipPosition="after">-->
      <!--<mat-icon class="material-icons md-16" (click)="edit.name = false">edit</mat-icon>-->
    <!--</div>-->
    <!--<div *ngIf="!edit.name" matTooltip="Save" matTooltipPosition="after">-->
      <!--<mat-icon class="material-icons md-16" (click)="edit.name = true; save()">done</mat-icon>-->
    <!--</div>-->
    <div *ngIf="park.rating" matTooltip="Rating" matTooltipPosition="after">
      <mat-chip color="primary" selected="true">{{park.rating.toFixed(1)}}</mat-chip>
    </div>
    <button mat-button class="delete" (click)="deletePark()">Delete</button>
    <button *ngIf="edit" mat-button class="delete" (click)="edit = false">Edit</button>
    <button *ngIf="!edit" mat-button class="delete" (click)="edit = true; save()">Save</button>

  </div>
  <button mat-button (click)="goBack()"><mat-icon class="material-icons md-18">arrow_back</mat-icon>Go back</button>
  <button mat-button *ngIf="park.number_of_suggestions" (click)="openDialog()">
    Suggestions
    <mat-chip color="accent" selected="true">{{park.number_of_suggestions}}</mat-chip>
  </button>
  <mat-divider></mat-divider>

  <owl-carousel
    *ngIf="park.pictures.length"
    [options]="{items: 6, dots: false, nav: true, navText: ['<mat-icon class=\'material-icons md-18\'>arrow_back</mat-icon>', '<mat-icon class=\'material-icons md-18\'>arrow_forward</mat-icon>']}"
    [items]="park.pictures"
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
  <div class="item" *ngFor="let picture of park.pictures">
    <div class="thumbnail-image"
         [ngStyle]="{'background': 'url(http://185.57.255.205:8000/' + picture.preview + ') no-repeat scroll center center', width: '100%', height: '200px', 'background-size': 'contain'}">
    </div>
    <mat-icon *ngIf="!edit" class="material-icons md-18" (click)="deletePicture(picture.id)">delete</mat-icon>
  </div>
  </owl-carousel>

  <image-upload *ngIf="!edit"
    [buttonCaption]="'Add Images'"
    [preview]="false"
    (removed)="onRemoved($event)"
    (uploadFinished)="onUploadFinished($event)">
  ></image-upload>

  <div class="sub-content-header">
    Categories
    <button *ngIf="!edit" mat-button class="add" (click)="openECDialog('categories')">Add</button>
  </div>
  <div class="park-info">
    <mat-chip-list>
      <mat-chip
        *ngFor="let category of park.categories"
        [removable]="true" (remove)="deleteCategory(category.id)">
        {{category.name}}
        <mat-icon matChipRemove *ngIf="!edit">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="sub-content-header">
    Description
  </div>
  <div class="park-info">
    <div *ngIf="edit">
      Year built: {{park.year_built}}<br>
      {{park.description}}
    </div>
    <div *ngIf="!edit">
    Year built:
    <mat-form-field class="input-width">
      <input matInput [(disabled)]="edit" [(ngModel)]="park.year_built" type="text" maxlength="4">
    </mat-form-field><br>
    <mat-form-field class="input-full-width">
      <textarea matInput
                matTextareaAutosize
                [(disabled)]="edit"
                [(ngModel)]="park.description"></textarea>
    </mat-form-field>
    </div>
  </div>

  <div class="sub-content-header">
    Address
    <span *ngIf="!edit" class="hint">Place marker</span>
  </div>
  <div class="park-info" *ngIf="edit" >
    <span class="bold">{{park.address}}</span>
  </div>
  <agm-map
    [latitude]="park.coordinates[0]"
    [longitude]="park.coordinates[1]"
    [zoom]="12"
    [scrollwheel]="false">
    <agm-marker
      [latitude]="park.coordinates[0]"
      [longitude]="park.coordinates[1]"
      [markerDraggable]="!edit"
      (dragEnd)="markerDragEnd($event)">
    </agm-marker>
  </agm-map>

  <div class="sub-content-header">
    Equipment
    <button *ngIf="!edit" mat-button class="add" (click)="openECDialog('equipment')">Add</button>
  </div>
  <mat-grid-list cols="6" rowHeight="1:1" *ngIf="park.equipment">
    <mat-grid-tile
      *ngFor="let eq of park.equipment" class="equipment-wrapper">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{eq.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="http://185.57.255.205:8000{{eq.picture}}" alt="preview">
        <mat-icon *ngIf="!edit" class="material-icons md-18" (click)="deleteEquipment(eq.id)">delete</mat-icon>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="sub-content-header" *ngIf="reports.length">
    Reports
  </div>
  <mat-list  *ngIf="reports">
    <mat-list-item *ngFor="let report of reports" class="report-wrapper">
      <mat-icon class="material-icons md-18" mat-list-icon>comment</mat-icon>
      {{report.text}}
      <mat-icon class="material-icons md-16 clear" (click)="deleteReport(report.id)">clear</mat-icon>
    </mat-list-item>
  </mat-list>
</div>
