<div class="content-header">Login</div>
<div class="col-md-offset-4">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <form *ngIf="!loading" class="example-form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <mat-form-field class="example-full-width" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input matInput placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
      <mat-error *ngIf="f.submitted && !username.valid">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input matInput placeholder="Password" name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password" #password="ngModel" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="f.submitted && !password.valid">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-button [disabled]="loading">Login</button>
  </form>
</div>
