$light-grey: rgb(245,245,245);
$light-light-grey: #fafafa;

.content-header {
  .input-width {
    min-width: 100px;
    max-width: 75%;
  }
}
agm-map {
  height: 300px;
}

mat-divider {
  margin-bottom: 10px;
}

.input-full-width {
  width: 100%;
}
