<h1 mat-dialog-title>Add park</h1>
<div mat-dialog-content class="dialog">
  <div class="content-header name">
    <mat-form-field class="input-width" [style.width.px]="park.name.length * 20">
      <input matInput [(ngModel)]="park.name" placeholder="Name">
    </mat-form-field>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Images
        </mat-panel-title>
      </mat-expansion-panel-header>
      <owl-carousel
        *ngIf="pictures.length"
        [options]="{items: 5, dots: false, nav: true, navText: ['<mat-icon class=\'material-icons md-18\'>arrow_back</mat-icon>', '<mat-icon class=\'material-icons md-18\'>arrow_forward</mat-icon>']}"
        [items]="pictures"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let picture of pictures">
          <div class="thumbnail-image"
               [ngStyle]="{'background': 'url(' + picture + ') no-repeat scroll center center', width: '100%', height: '125px'}"
               (click)="deletePicture(picture)">
          </div>
        </div>
      </owl-carousel>
      <image-upload
        [buttonCaption]="'Add Images'"
        [preview]="false"
        (uploadFinished)="onUploadFinished($event)">
      </image-upload>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Categories
        </mat-panel-title>
        <mat-panel-description>
          Click to select
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-chip-list [(ngModel)]="park.category_ids" multiple>
        <mat-chip
          *ngFor="let category of categories"
          color="primary"
          [selectable]="true"
          [selected]="isCatSelected(category.id)"
          (focus)="selectCat(category.id)">
          {{category.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Description
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput
               [(ngModel)]="park.year_built"
               maxlength="4"
               placeholder="Year built">
      </mat-form-field><br>

      <mat-form-field class="input-full-width">
        <textarea matInput
                  matTextareaAutosize
                  placeholder="Park information"
                  [(ngModel)]="park.description">
        </textarea>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Address
        </mat-panel-title>
        <mat-panel-description>
          Place marker
        </mat-panel-description>
      </mat-expansion-panel-header>
      <agm-map
        [latitude]="mapCenter[0]"
        [longitude]="mapCenter[1]"
        [zoom]="12"
        [disableDoubleClickZoom]="true"
        [scrollwheel]="false"
        (mapDblClick)="mapClicked($event)">
        <agm-marker
          [markerDraggable]="true"
          [latitude]="park.latitude"
          [longitude]="park.longitude"
          (dragEnd)="markerDragEnd($event)">
        </agm-marker>
      </agm-map>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Equipment
        </mat-panel-title>
        <mat-panel-description>
          Click to select
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile
          *ngFor="let eq of equipment" class="equipment-wrapper">
          <mat-card (click)="selectEq(eq.id)" [class]="isEqSelected(eq.id) ? 'selected' : ''">
            <mat-card-header>
              <mat-card-title>{{eq.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="http://185.57.255.205:8000{{eq.picture}}" alt="preview">
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Back</button>
  <button mat-button (click)="save()">Save</button>
</div>

