/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";

$light-grey: rgb(245,245,245);
.bold {
  font-weight: 500;
  display: inline !important;
}

div.content-header {
  background-color: $light-grey;
  padding: 20px;
  font-size: 30px;
  div {
    display: inline;
    mat-chip {
      &:focus {
        outline: none;
      }
      padding: 5px 10px;
      border-radius: 50%;
      position: relative;
      top: -5px;
      margin-left: 15px;
    }
  }
}
div.sub-content-header {
  background-color: $light-grey;
  padding: 15px 15px 10px;
  font-size: 16px;
  div {
    display: inline;
  }
}

a:focus, a:hover {
  text-decoration: none;
  outline: none;
}

.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

owl-carousel {
  .owl-item {
    .thumbnail-image {
      width: 100%;
    }
    .material-icons {
      display: none;
    }
    &:hover .material-icons {
      display: block;
      position: absolute;
      top: 15px;
      right: 10px;
      cursor: pointer;
    }
  }
  .owl-nav {
    margin-top: 0 !important;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: -5px;
    height: 100%;
    .material-icons {
      position: relative;
      top: 40%;
    }
  }
  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: -20px;
  }
}
.dialog {
  owl-carousel {
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    .owl-prev {
      left: -5px;
    }
    .owl-next {
      right: -5px;
    }
  }
}

image-upload {
  .img-ul {
    height: 60px;
    //margin-bottom: 20px;
    //border: #d0d0d0 solid 1px !important;
    .img-ul-file-upload {
      padding: 10px;
      label {
        margin-bottom: 0;
        font-size: 1em;
        padding: 8px;
      }
      .img-ul-drag-box-msg {
        padding-top: 10px;
      }
      .img-ul-clear {
        display: none;
      }
    }
    .img-ul-container {
      position: relative;
      z-index: 1;
    }
  }
}

//doesnt work another way
.park-info {
  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }
}
.name {
  .mat-focused .mat-form-field-label {
    font-size: 8px;
  }
  .mat-form-field-label {
    font-size: 8px;
  }
  .mat-empty{
    font-size: inherit;
  }
}
.equipment-wrapper {
  .mat-card-title {
    margin: 0;
    text-align: center;
  }
  .mat-card-header-text {
    margin: 0 auto;
    margin-top: 5px;
  }
  .mat-card {
    box-sizing: content-box;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
  }
}

.mat-dialog-container {
  position: relative;
}

.mat-horizontal-stepper-header-container:before {
  content: "";
  display: block;
  width: 750px;
  height: 80px;
  position: absolute;
  z-index: 5;
}
