/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";

$light-grey: rgb(245,245,245);

div.content-header {
  background-color: $light-grey;
  padding: 20px;
  font-size: 30px;
}
a:focus, a:hover {
  text-decoration: none;
  outline: none;
}
.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
