#map {
  height: 400px;

}
.mat-card {
  width: 200px;
  margin: 0 20px;
  display: inline;
  top: 40px;
  b {
    font-size: 20px;
    margin-right: 20px;
  }
}
div.example-container {
  margin-top: 90px;
}
