<h1 mat-dialog-title>Suggestions</h1>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let suggestion of suggestions; let i = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Suggestion {{i+1}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button (click)="apply(suggestion.id)">Apply</button>
      <button mat-button (click)="delete(suggestion.id)">Delete</button>
      <div class="content-header">
        {{suggestion.name}}
      </div>
      <owl-carousel
        *ngIf="suggestion.pictures.length"
        [options]="{items: 6, dots: false, nav: true, navText: ['<mat-icon class=\'material-icons md-18\'>arrow_back</mat-icon>', '<mat-icon class=\'material-icons md-18\'>arrow_forward</mat-icon>']}"
        [items]="suggestion.pictures"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let picture of suggestion.pictures">
          <div class="thumbnail-image"
               [ngStyle]="{'background': 'url(http://185.57.255.205:8000/' + picture.preview + ') no-repeat scroll center center', width: '100%', height: '200px', 'background-size': 'contain'}">
          </div>
        </div>
      </owl-carousel>

      <div class="sub-content-header" *ngIf="suggestion.categories.length">
        Categories
      </div>
      <div class="park-info" *ngIf="suggestion.categories.length">
        <mat-chip-list>
          <mat-chip
            *ngFor="let category of suggestion.categories"
            [removable]="true" (remove)="deleteCategory(category.id)">
            {{category.name}}
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="sub-content-header" *ngIf="suggestion.description || suggestion.year_built">
        Description
      </div>
      <div class="park-info" *ngIf="suggestion.description || suggestion.year_built">
          Year built: {{suggestion.year_built}}<br>
          {{suggestion.description}}
      </div>

      <div class="sub-content-header" *ngIf="suggestion.address">
        Address
      </div>
      <div class="park-info" *ngIf="suggestion.address">
        <span class="bold">{{suggestion.address}}</span>
      </div>
      <agm-map
        [latitude]="suggestion.coordinates[0]"
        [longitude]="suggestion.coordinates[1]"
        [zoom]="12"
        [scrollwheel]="false">
        <agm-marker
          [latitude]="suggestion.coordinates[0]"
          [longitude]="suggestion.coordinates[1]">
        </agm-marker>
      </agm-map>

      <div class="sub-content-header" *ngIf="suggestion.equipment.length">
        Equipment
      </div>
      <mat-grid-list cols="4" rowHeight="1:1" *ngIf="suggestion.equipment.length">
        <mat-grid-tile
          *ngFor="let eq of suggestion.equipment" class="equipment-wrapper">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{eq.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="http://185.57.255.205:8000{{eq.picture}}" alt="preview">
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
</div>
<!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Close</button>-->
